html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	border: 1px dashed black;
	/* box-sizing: inherit; */
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	color: #0B132A;
}

a {
	text-decoration: none;
}

/* ===Header=== */

.header {
	padding: 46px 0 0;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* ===Header__top=== */
.logo {
	font-size: 20px;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.logo-svg {
	display: block;
	width: 38px;
	height: 39px;
	background: url('../images/logo.svg');
	background-repeat: no-repeat;
	margin-right: 10px;
}

.logo-text {
	text-transform: uppercase;
	font-weight: 700;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 654px;
}

.menu__link {
	color: #4F5665;
}

.menu__link--bold {
	color: #0B132A;
	font-size: 16px;
	font-weight: 500;
}

.btn__border-red {
	border: 1px solid #F53855;
	border-radius: 50px;
	/* background-color: transparent; */
	color: #F53855;
	padding: 10px 40px;
	/* box-sizing: border-box; */
	line-height: 19px;
}

/* ===Header__top(end)=== */



/* ==header__content=== */
.header__content {
	background: cyan;
	padding: 88px 0;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-titles {
	/* width: 565px; */
}

.content-title {
	width: 555px;
	font-size: 50px;
	font-weight: 500;
}

.title-span {
	font-size: 50px;
	font-weight: 700;
}

.title-description {
	width: 555px;
	font-size: 16px;
	font-weight: 400;
	color: #4F5665;
	line-height: 30px;
	margin-bottom: 50px;
}

.title-description-span {
	font-weight: 500;
}

.btn-red {
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
	color: #fff;
	background: #F53838;
	display: block;
	width: 250px;
	text-align: center;
	padding: 18px 0;
	border-radius: 10px;
	box-shadow: -1px 20px 11px 0px rgb(253 204 204);
}

/* ==Header__content(end)=== */



/* == Header-footer=== */
.skills {
	display: flex;
	justify-content: space-evenly;
	/* margin-top: 150px; */
	/* box-shadow: -0px 20px 11px 0px #0D1025; */
}

.skill {
	width: 154px;
	height: 150px;
	background: url('../images/users.jpg') no-repeat left center;
	padding-left: 90px;
	border-right: 2px solid #EEEFF2;
}

.skill-locations {
	background: url('../images/locations.jpg') no-repeat left center;
}

.skill-servers {
	background: url('../images/servers.jpg') no-repeat left center;
	border-right: none;
}

.skill-title {
	margin: 40px 0 0;
	font-size: 25px;
	font-weight: 700;
	color: #0B132A;
}

.skill-text {
	margin: 15px 0 0;
	font-size: 20px;
	font-weight: 400;
	color: #4F5665;
}

/* == Header-footer(end)=== */

/* === Features(особенности)=== */
/* === Features(особенности)(end)=== */