/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"); */

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}


/* ===RESET=== */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4f5665;
}

a:hover {
    cursor: pointer;
    /* Цвет ссылки при наведении на нее курсора мыши */
    color: #F53855;
    /* Добавляем подчеркивание */
    text-decoration: underline;
}

ul {
    list-style: none;
}

.btn {
    font-family: 'Rubik', sans-serif;
    outline: none;
    background: none;
    border: none;
    margin: 0;
}


/* ========RESET(end)========= */


/* ===HEADER=== */

.header {
    width: 100%;
    background-color: #fff;
}

.header__conteiner {
    max-width: 1209px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header__row {
    display: flex;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    height: 91px;
    padding-top: 46px;
}

.header__logo {
    margin-right: 157px;
}

.header__menu {
    display: flex;
}

.header__menu-item:not(:first-child) {
    margin-left: 17px;
}

.header__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.header__link-login {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.header__link-login:hover {
    transform: scale(1.3);
}

.header__btn-login {
    width: 150px;
    height: 45px;
    border: solid 1px #F53855;
    color: #F53855;
    font-weight: 500;
    border-radius: 50px;
    line-height: 19px;
    font-size: 16px;
    margin-left: 34px;
    transition: .3s;
}

.header__btn-login:hover {
    transform: scale(1.2);
    background-color: #F53855;
    color: #fff;
    transition: .3s;
    box-shadow: 0 0 54px rgba(245, 56, 56, 0.35);
}

.header__bottom {
    max-width: 1209px;
    width: 100%;
    margin: 0 auto;
}

.header__title {
    width: 555px;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin: 120px 0 21px;
}

.header__title-bold {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}

.header__dicsription {
    width: 555px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665
}

.header__dicsription-bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.header__btn-start {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    box-shadow: 0 25px 54px rgba(245, 56, 56, 0.35);
    transition: .3s
}

.header__btn-start:hover {
    transform: scale(1.2);
    transition: .3s;
}

.header__decor-img {
    position: absolute;
    right: 0;
    bottom: 0;
    /* left: 1000px;
    top: 180px; */
    width: 611px;
    height: 382px;
}


/* ===HEADER(END)=== */


/* ===ADVANTAGES==== */

.advantages {
    width: 100%;
    margin: 103px auto 95px;
}

.advantages__conteiner {
    display: flex;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 42px 114px rgba(13, 16, 37, .06);
}

.advantages__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 126px;
    border-right: 2px solid #EEEFF2;
}

.advantages__cards:last-child {
    border-right: none;
}

.advantages__cards-dicsription {
    display: flex;
    margin-left: 37px;
    flex-direction: column;
}

.advantages__cards-title {
    font-weight: 700;
}

.advantages__cards-subtitle {
    font-size: 20px;
    line-height: 30px;
}


/* ===ADVANTAGES(END)==== */


/* ======FUNCTIONS===== */

.functions {
    width: 100%;
    /* padding-bottom: 101px; */
    margin: 54px 0 96px;
}

.functions__conteiner {
    display: flex;
    max-width: 1105px;
    width: 100%;
    margin: 0 auto;
}

.functions__decor-img {
    width: 508px;
    height: 414px;
    margin-right: auto;
}

.functions__title {
    width: 383px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin: 50px 0 20px;
}

.functions__dicsriptions {
    width: 427px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.functions__list {
    margin-top: 20px;
    padding-left: 34px;
}

.functions__list-item {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.functions__list-item:not(:first-child) {
    margin-top: 15px;
}

.functions__list-item:before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/check__icon.svg) center / cover no-repeat;
}


/* ===FUNCTIONS(END)===== */


/* ======BG__GRADIENT========= */

.bg__gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #F6F6F6, #FFFFFF);
}

.plan {
    width: 100%;
    padding-top: 80px;
}

.plan__title {
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.plan__dicsription {
    margin: 20px auto 60px;
    text-align: center;
    width: 555px;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.plan__conteiner {
    display: flex;
    max-width: min-content;
    width: 100%;
    margin: 0 auto;
}

.plan__card {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 760px;
    text-align: center;
    background: #FFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    transition: .3s;
}

.plan__card:not(:first-child) {
    margin-left: 50px;
}

.plan__card:hover {
    border: 2px solid #F53838;
}

.plan__card-img {
    display: block;
    align-self: center;
    width: 145px;
    height: 166px;
    margin: 80px auto 30px;
}

.plan__card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
}

.plan__card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto auto;
    max-width: min-content;
    width: 100%;
    padding-left: 32px;
    text-align: initial;
}

.plan__list-item {
    position: relative;
    min-width: 150px;
    color: #4F5665;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.plan__list-item::before {
    content: ' ';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/check__icon2.svg) center / cover no-repeat;
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
}

.plan__card-price {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.plan__card-bold {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #4F5665;
}

.plan__card-btn {
    width: 148px;
    height: 45px;
    border: 2px solid #F53838;
    border-radius: 50px;
    margin: 20px auto 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    transition: .3s;
    box-shadow: 0 17px 54px rgba(245, 56, 56, 0.35);
}

.plan__card-btn:hover {
    background-color: #F53838;
    color: #fff;
    transition: .3s;
}


/* =====PLAN(end)===== */


/* ===NETWORK=== */

.network {
    width: 100%;
}

.network__title {
    width: 383px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    margin: 50px auto 20px;
}

.network__dicsription-bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.network__dicsription {
    width: 555px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin: 0 auto;
}

.network__img-map {
    display: block;
    margin: 155px auto 36px;
    margin: 160px auto 36px;
    width: 1060px;
    height: 538px;
}

.network__list {
    max-width: 1136px;
    height: 100%;
    display: flex;
    margin: 54px auto 0;
    margin: 60px auto 0;
    align-items: center;
    justify-content: space-between;
}


/* =====NETWORK(end)===== */


/* =====COMENTS===== */

.coments {
    width: 100%;
    position: relative;
}

.coments__title {
    text-align: center;
    width: 448px;
    margin: 50px auto 20px;
    color: #0B132A;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.coments__dicsription {
    width: 555px;
    text-align: center;
    margin: 0 auto;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.coments__container {
    padding-bottom: 182px;
}

.coments__slider {
    display: flex;
    max-width: min-content;
    width: 100%;
    margin: 60px auto 0;
    height: 230px;
}

.coments__card {
    border: solid 2px #DDDDDD;
    border-radius: 10px;
    width: 400px;
    height: 230px;
    transition: .3s;
}

.coments__card:not(:first-child) {
    margin-left: 50px;
}

.coments__card:hover {
    border: solid 2px #F53838;
    transform: scale(1.2);
    box-shadow: 0 71px 114px rgba(13, 16, 37, .06);
    transition: .3s;
}

.coments__card-header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 30px 30px 0;
}

.coments__card-avatar {
    display: block;
    width: 50px;
    height: 50px;
}

.coments__card-dicsription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: auto;
}

.coments__card-name {
    color: #0B132A;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.coments__card-country {
    color: #4F5665;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.coments__card-rating {
    color: #0B132A;
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.coments__card-text {
    display: block;
    margin: 20px 30px 5px;
    color: #0B132A;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}


/* =====COMENTS(end)===== */


/* ===COMENTS__SLIDER-CONTROL=== */

.coments__slider-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto 0;
    max-width: 1140px;
    width: 100%;
    height: 60px;
}

.coments__slider-state {
    display: flex;
    justify-content: space-between;
    max-width: 135px;
    width: 100%;
    height: 15px;
}

.coments__slider-indicator {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
    transition: .3s;
}

.ind__active {
    background-color: #F53838;
    width: 45px;
    border-radius: 7px;
}

.coments__slider-indicator:hover {
    transform: scale(1.3);
    transition: .3s;
}

.coments__slider-btns {
    display: flex;
}

.coments__slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: .3s;
}

.coments__slider-btn:last-child {
    background-color: #F53838;
    margin-left: 20px;
}

.coments__slider-btn:hover {
    transform: rotate(-360deg) scale(1.2);
    box-shadow: 0 0 114px rgba(13, 16, 37, 0.3);
}


/* =====COMENTS__SLIDER-CONTROL(end)===== */


/* ===COMENTS__SUBSCRP ==== */

.coments__subscrip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: -117px;
    max-width: 1140px;
    width: 100%;
    height: 233px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 2px #DDDD;
    box-shadow: 0 39px 114px rgba(13, 16, 37, .06);
    background-color: #fff;
}

.coments__subscrip-conteiner {
    margin: 50px 0 auto;
}

.coments__subscrip-title {
    margin: 0 auto;
    width: 410px;
    color: #0B132A;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}

.coments__subscrip-subtitle {
    color: #4F5665;
    text-align: left;
    width: 410px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.coments__subscrp-btn {
    margin-left: 167px;
    width: 250px;
    height: 60px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #F53838;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 25px;
    box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
    transition: .3s;
}

.coments__subscrp-btn:hover {
    transform: scale(1.2);
    transition: .3;
}


/* ===COMENTS__SUBSCRP(end)==== */


/* ====FOOTER=== */

.footer {
    width: 100%;
    background-color: #e7e7e7;
    padding-bottom: 100px;
}

.footer__conteiner {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 180px;
}

.footer__info {
    width: 100%;
}

.footer__logo {
    width: 141px;
    height: 36px;
    margin-bottom: 20px;
}

.footer__dicsription {
    width: 340px;
    color: #4f5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}

.footer__dicsription-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 141px;
    height: 34px;
}

.footer__social-btn {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F53838;
    box-shadow: 0px 13px 18px rgba(17, 19, 35, .08);
    transition: .5s;
}

.footer__social-btn:hover {
    transform: scale(1.2) rotate(360deg);
    transition: .5s;
}

.footer__social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37px;
    height: 37px;
}

.footer__copyright {
    display: flex;
    margin-top: 30px;
    color: #AFB5C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.foont__medium {
    font-weight: 500;
}

.footer__help-conteiner {
    display: flex;
    margin-left: auto;
    width: 100%;
}

.footer__products {
    width: 141px;
    margin-right: 19px;
}

.footer__help-title {
    display: block;
    color: #0B132A;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.footer__help-list {
    margin: 0;
    padding: 0;
}

.footer__participate {
    width: 182px;
}

.footer__money {
    margin-left: 68px;
}

.footer__money-list {
    width: 206px;
}

.footer__help-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #4F5665;
    padding: 0;
}

.footer__help-item:last-child {
    margin-bottom: 0;
}


/* ====FOOTER(end)=== */

@media (max-width: 1140px) {}